body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  
  aside {
    background-color: #c6cdea;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 4;
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .header {
    background-color: #617dff;
    color: #fff;
    padding: 0.7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  
  
  .header .logo img {
      width: 50px;
      height: auto;
  }
  
  .header .logo h1 {
      font-family:'Higuen Elegant Serif';
      margin-left: 10px;
      font-size: 24px;
      color: #fff;
  }
    
  .header .logo {
      display: flex;
      align-items: center;
  }
  .header .profile-icon img {
      width: 50px;
      height: auto;
  }

  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .sidebar-menu li {
    margin: 20px 0;
  }
  
  .icon {
    font-size: 24px;
  }
  
main {
    flex: 1;
    margin-left: 70px; /* Adjusted to match the width of the aside */
    padding: 20px;
    background-color: white;
  }
  
  main h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .user-table th {
    background-color: #8b9ff8;
    color: #fff;
  }
  
  .user-table td button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .user-table .verify {
    background-color: #78bdf2;
  }
  
  .user-table .accept {
    background-color: #4caf50;
  }
  
  .user-table .decline {
    background-color: #f44336;
  }
  
  .user-table .view-profile {
    background-color: #4d91c6;
  }
  
  footer {
    background-color: #617dff;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
  }
  